body {
  font-family: "Afacad Flux", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: #ffe2eb;
}

form {
  text-align: center;
}

main {
  display: flex;
}

form {
  text-align: center;
}

h1 {
  font-size: 55px;
  margin-left: 15px;
}

main {
  display: flex;
}

strong {
  color: #801a49;
}

a {
  color: #13275c;
}

.weather-app {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/147/211/original/pexels-ithalu-907485.jpg?1728732848");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 600px;
  height: 500px;
  margin: 50px auto;
  box-shadow: 0 30px 50px rgba(240, 249, 249, 0.896);
  padding: 40px;
  border-radius: 16px;
}

.weather-date {
  text-align: right;
  margin-right: 30px;
  font-size: 25px;
}

.weather-search {
  padding: 10px;
  margin-right: 30px;
  width: 70%;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgb(209, 104, 183);
  font-size: 20px;
}

.weather-submit {
  padding: 10px 13px;
  background-color: rgba(207, 47, 135, 0.925);
  color: rgb(226, 160, 196);
  border-radius: 8px;
  border: 1px solid rgba(150, 136, 230, 0.199);
  position: relative;
  top: 3px;
  width: 20%;
  font-size: 15px;
}

.weather-submit:hover {
  color: rgba(248, 181, 231, 0.925);
  background: rgb(112, 0, 84);
  cursor: pointer;
}

.weather-details {
  position: relative;
  bottom: 27px;
  left: 25px;
  opacity: 0.9;
}

.weather-icon {
  position: relative;
  left: 220%;
  bottom: 220px;
  font-size: 120px;
}

.weather-temperature {
  font-size: 90px;
  position: relative;
  left: 40px;
  top: 10px;
}

.weather-unit {
  position: relative;
  left: 40px;
  bottom: 30px;
  font-size: 25px;
}

.weather-deet {
  position: relative;
  left: 240%;
  bottom: 220px;
  font-size: 16px;
  opacity: 0.9;
}

footer {
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 19px;
}
